<div id="user-<%= user.id %>" class="row">
  <div class="col-md-8">
    <%= render 'shared/profile_pic', user: user %>
    <h5 class="name"><%= link_to user.name, user %></h5>
  </div>
  <div class="col-md-4">
    <div class="follow">
      <%= render 'follows/form', user: user %>
    </div>
  </div>
</div>
<br>
