<% if activity && activity.trackable && activity.owner %>
  <div id="post-<%= activity.trackable.id %>" class="activity-post">
    <%= render activity.trackable, remote: true %>
  </div>
  <br>
<% end %>
