<div class="card card-block">
  <div class="card-text">
    <h6>
      <%= fa_icon 'newspaper-o' %>
      <%= link_to 'NewsFeed', root_path %>
    </h6>

    <h6>
      <%= fa_icon 'calendar-o' %>
      <%= link_to 'Create Event', new_event_path %>

    </h6>
    <br>
  </div>
</div>
