<% if user.timeline_pic.url %>
  <div class="timeline_pic" style="background-image: url(<%= user.timeline_pic.url %>);"></div>
<% else %>
  <div class="timeline_pic" style="background-image: url(<%= asset_url('timeline_pic_default.jpg') %>);"></div>
<% end %>
