<div class="card card-block">
  <div class="card-text">
    <div class="text-center">
      <%= render 'shared/profile_pic', user: @user %><br>
      <h5><%= link_to @user.name, @user %></h5>
    </div>
  </div>
</div>
