<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render 'posts/form', post: @post %>
  </div>

  <div class="col-md-3">
    <div class="card card-block">
      <div class="card-text">
        <%= render 'shared/links' %>
        <br>
      </div>
    </div>
  </div>
</div>
