<div class="col-md-6 offset-md-3 info-block">
  <div class="card card-block">
      <h4 class="card-title text-center">Welcome to BIC Hub</h4>
      <h6 class="card-subtitle mb-2 text-muted text-center">(Because I Can)</h6>
      <p class="card-text text-center">
        Fusce lobortis scelerisque dolor vitae pretium. Vivamus quis aliquam sapien. Nam sapien sapien, ultricies nec mi in, eleifend dignissim turpis. Sed porttitor magna lorem. Etiam aliquet diam velit.
      </p>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <a href="https://github.com/frankolson/BIC_Hub" target="_blank" class="btn btn-primary btn-block text-center">Check out the source</a>
        </div>
      </div>
  </div>
</div>
