<div class="col-md-6 offset-md-3 info-block">
  <div class="card card-block">
      <h4 class="card-title text-center">Welcome to BIC Hub</h4>
      <h6 class="card-subtitle mb-2 text-muted text-center">(Because I Can)</h6>
      <p class="card-text text-center">
        So I built this site just as a fun way to keep my skills up to date and try out a few new gems. Feel free to explore the site and create a free account. I am always updating so be sure to come back every few months and find some cool new features.
      </p>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <a href="https://github.com/frankolson/BIC_Hub" target="_blank" class="btn btn-primary btn-block text-center">Check out the source</a>
        </div>
      </div>
  </div>
</div>
