<div id="post-<%= @post.id %>" class="col-lg-6 offset-lg-3">
  <%= render 'post' %>
  <br>
  <div class="card card-block">
    <div class="card-heading">
      <h5>Comments</h5>
      <hr>
    </div>
    <div class="card-text">
      <%= render 'comments/form', commentable: @post %>
      <br>
      <div class="comments">
        <%= render(partial: @comments, locals: { commentable: @post }) || render('shared/no_content', resources: 'Comments')%>
      </div>
    </div>
  </div>
</div>
