// vendor files
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datepicker";

// asset files
@import "home";

.yield-start {
  padding-top: 20px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
