// vendor files
@import "bootstrap";
@import "font-awesome";
@import 'datetimepicker';

// asset files
@import "variables";
@import "styles";
@import "home";
@import "users";
@import "post";

body {
  background-color: #eceff1;
}

.yield-start {
  padding-top: 20px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

@media (max-width: 768px) {
  .navbar {
    height: 56px; // Logo will not overhang
  }
}
