// vendor files
@import "bootstrap";
@import "font-awesome";
@import 'datetimepicker';

// asset files
@import "variables";
@import "styles";
@import "home";
@import "users";
@import "post";

.yield-start {
  padding-top: 20px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
