.info-block {
  margin-top: 60px;
}

.pagination {
  margin: auto;
}

#img-preview {
  padding: 5px;
  display: inline-block;
  border: 1px solid $border-color;
  img {
    width: 35px;
    height: 35px;
  }
}
