.timeline_pic {
  width                : 100%;
  height               : 400px;
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-position  : top;
}

.profile_pic{
  border: 1px solid $border-color;
  width : 50px;
  height: 50px;
}
